<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Actualizar Materia
    </h5>
</div>

<!-- Update Subject -->
<mat-card
    class="daxa-card update-subject-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        @if(spinnerVisible) {
            <mat-spinner style="margin:0 auto;" ></mat-spinner>     
        } @else {
            <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                       <div class="mb-25">
                         <div class="form-group">
                             <label class="main-label d-block lh-1 text-black">
                                 Nombre de Carrera
                             </label>
                             <mat-form-field>
                                 <mat-label>
                                     Ingresar nombre de carrera
                                 </mat-label>
                                 <input matInput type="text" id="name" formControlName="name">
                             </mat-form-field>
                             <div class="error text-danger" *ngIf="subjectForm.get('name')!.hasError('required') && subjectForm.get('name')!.touched">
                                 Nombre de carrera es requerido.
                             </div>
                         </div>
                       </div>
                    </div>   
                    <div class="col-lg-6 col-sm-12">
                      <div class="mb-25">
                          <div class="form-group">
                              <label class="main-label d-block lh-1 text-black">
                                  Carrera
                              </label>
                              <mat-form-field>
                                  <mat-select formControlName="courseId">
                                      @for (course of courses; track course) {
                                          <mat-option [value]="course.id">{{course.name}}</mat-option>
                                      }
                                  </mat-select>
                              </mat-form-field>
                              <div class="error text-danger" *ngIf="subjectForm.get('courseId')!.hasError('required') && subjectForm.get('courseId')!.touched">
                                Seleccione al menos una carrera.
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-lg-6 col-sm-12">
                      <div class="mb-25">
                          <div class="form-group">
                              <label class="main-label d-block lh-1 text-black">
                                  Docentes
                              </label>
                              <mat-form-field>
                                  <mat-select formControlName="teacherId">
                                      @for (teacher of teachers; track teacher) {
                                          <mat-option [value]="teacher.id">{{teacher.name}} {{teacher.lastName}}</mat-option>
                                      }
                                  </mat-select>
                              </mat-form-field>
                              <div class="error text-danger" *ngIf="subjectForm.get('teacherId')!.hasError('required') && subjectForm.get('teacherId')!.touched">
                                Seleccione al menos un docente.
                              </div>
                          </div>
                      </div>
                    </div>
                </div>

                <div class="btn-box">
                    <button mat-button>
                        Crear
                    </button>
                    <button mat-button type='button' (click)="cancelDialog()">
                        Cancelar
                    </button>
                </div>
            </form>
        }     
    </mat-card-content>
</mat-card>